.st-key-chunk_sect button {
    text-align: left;
    border: none;
    padding: 2px 3px;
    background-color: transparent;

}

.st-key-chunk_sect button p{
    font-size: 16px;
    padding: 0px 10px;
}

.st-key-chunk_sect h2 {
    font-size: 28px;
    padding: 0px 10px;
    padding-bottom: 20px;
}

.st-key-highlight_text button p{
    color: #835DFF;
}

.st-key-facts p {
    font-size: 18px;
}

.st-key-back_button button {
    border: None;
    text-align: left;
    padding: 0;
    background-color: transparent;
}
.st-key-back_button button:active {
    color: #835DFF;
    background-color: transparent;
}

.st-key-articles button {
    border: none;
    background-color: transparent;
    color:#835DFF;
    text-decoration: underline;
    text-align: left;
    padding: 0px;
}

.st-key-articles button:active {
    background-color: transparent;
}

.st-key-filter_category {
    padding: 1.6rem 0px;
}

.st-key-embedding_model {
    padding-bottom: 10px;
}

img[data-testid="stLogo"] {
    height: 5rem;
}
